@model HotelMVC.Models.Productos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de querer eliminar este registro?</h3>
<div>
    @if (ViewBag.Mensaje != null)
    {
        <div class='modal-dialog modal-sm'>
            <div class='modal-content'>
                <div class='modal-header' style="background-color: #007bff; color: #fff;">
                    <h4 class='modal-title'>Información</h4>
                </div>
                <div class='modal-body'>
                    <p>@ViewBag.Mensaje</p>
                </div>
                <div class='modal-footer'>
                    <button class="btn" title="Regresar" onclick="location.href='@Url.Action("Index", "Productos")';return false;">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>Productos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Costo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Costo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Existencia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Existencia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CEstados.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CEstados.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Proveedores.RazonSocial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Proveedores.RazonSocial)
            </dd>

        </dl>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn" title="Regresar" onclick="location.href='@Url.Action("Index", "Productos")';return false;">
                <img src="~/Images/atras.png" alt="atras" style="width:24px;" />
            </button>
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
