@model IEnumerable<HotelMVC.Models.Proveedores>

@{
    ViewBag.Title = "Proveedores";
}

<h2>Proveedores</h2>

<p>
    <div class="row">
        <div class="input-group">
            <div class="col-sm-12">
                <button class="btn" title="Registrar" onclick="location.href='@Url.Action("Create", "Proveedores")';return false;">
                    <img src="~/Images/nuevo.png" alt="nuevo" style="width:24px;" />
                </button>
            </div>
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEstados.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTipoIdentificacion.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEstados.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTipoIdentificacion.Descripcion)
        </td>
        <td>
            <div>
                <button class="btn" title="Editar" onclick="location.href='@Url.Action("Edit", "Proveedores", new { id = item.NumeroIdentificacion })';return false;">
                <img src="~/Images/editar.png" alt="editar" style="width:16px;" />
            </button>
                <button class="btn" title="Detalle" onclick="location.href='@Url.Action("Details", "Proveedores", new { id = item.NumeroIdentificacion })';return false;">
                    <img src="~/Images/detalles.png" alt="detalle" style="width:16px;" />
                </button>
                <button class="btn" title="Eliminar" onclick="location.href='@Url.Action("Delete", "Proveedores", new { id = item.NumeroIdentificacion })';return false;">
                <img src="~/Images/eliminar.png" alt="eliminar" style="width:16px;" />
            </button>
            </div>
        </td>
    </tr>
}

</table>
