@model HotelMVC.Models.Entrada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEstados.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEstados.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.RazonSocial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEntrada }) |
    @Html.ActionLink("Back to List", "Index")
</p>
