@model IEnumerable<HotelMVC.Models.Transacciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nro. Hab.
        </th>
        <th>
            Tipo Id.
        </th>
        <th>
            Nro. Identificación
        </th>
        <th>
            Fecha y Hora de Ingreso
        </th>
        <th>
            Fecha y Hora de Salida
        </th>
        @*<th>
            Total Días
        </th>*@
        <th>
            Nro. Personas
        </th>
        <th>
            Total
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Habitaciones.NumeroHabitacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Clientes.IdTipoIdentificacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Clientes.NumeroIdentificacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaHoraIngreso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaHoraSalida)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroPersonas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CEstados.Descripcion)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdTransaccion }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdTransaccion }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdTransaccion })
    </td>
</tr>
}

</table>
