@model IEnumerable<HotelMVC.Models.CEstados>

@{
    ViewBag.Title = "ESTADOS";
}
<h2>Estados</h2>
<p>
    <div class="row">
        <div class="input-group">
            <div class="col-sm-12">
                <button class="btn" title="Registrar" onclick="location.href='@Url.Action("Create", "CEstados")';return false;">
                    <img src="~/Images/nuevo.png" alt="nuevo" style="width:24px;" />
                </button>
            </div>
        </div>
    </div>   
</p>
<table class="table">
    <tr>
        <th>Descripción</th>
        <th>Categoría</th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
        <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
        <td>
            <button class="btn" title="Editar" onclick="location.href='@Url.Action("Edit", "CEstados", new { id = item.IdEstado })';return false;">
                <img src="~/Images/editar.png" alt="editar" style="width:16px;" />
            </button>
            <button class="btn" title="Eliminar" onclick="location.href='@Url.Action("Delete", "CEstados", new { id = item.IdEstado })';return false;">
                <img src="~/Images/eliminar.png" alt="eliminar" style="width:16px;" />
            </button>           
        </td>
    </tr>
}

</table>
