@model HotelMVC.Models.DetalleEntrada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleEntrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entrada.NumeroIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrada.NumeroIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.NumeroIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.NumeroIdentificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetalleEntrada }) |
    @Html.ActionLink("Back to List", "Index")
</p>
