@model IEnumerable<HotelMVC.Models.DetalleEntrada>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
        <th>@Html.DisplayNameFor(model => model.Entrada.NumeroIdentificacion)</th>
        <th>@Html.DisplayNameFor(model => model.Productos.NumeroIdentificacion)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
        <td>@Html.DisplayFor(modelItem => item.Entrada.NumeroIdentificacion)</td>
        <td>@Html.DisplayFor(modelItem => item.Productos.NumeroIdentificacion)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalleEntrada }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalleEntrada }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalleEntrada })
        </td>
    </tr>
}

</table>
